* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #d2b4de;
}

header {
    background: #bb8fce;
    color: #f4f4f4;
    text-align: center;
    padding: 1rem;
}

nav {
    background: #5b2c6f;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #f4f4f4;
    text-decoration: none;
    padding: 10px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background: #bb8fce;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

form {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #d370b5;
    border-radius: 5px;
}

form button {
    background: #bb8fce;
    color:#f4f4f4;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #bb8fce;
}

footer {
    background: #76448a ;
    color: #f4f4f4;
    text-align: center;
    padding: 10px;
    position: relative;
}